<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="login.css">
<style type="text/css">
  body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>
<meta charset="utf-8" />
<meta name="description" content="A frontend dashboard for the Smart Lighting System application" />
<meta name="author" content="Deol Satish" />
<meta name="viewport" content="width=device-width", initial-scale=1.0>
<title>Smart Lighting System</title>
</head>
<body>
    <div class="container">
        <div id="navbar"></div>
    </div>
    <h1></h1>
    <br>
    <div class="ui center aligned container"> 
      <h2 class="ui teal image header">
        <!-- <img src="./Login Example - Semantic_files/logo.png" class="image"> -->
        <i class="user icon"></i>
        <div class="content">
          Log-in to your account
        </div>
      </h2>
        <form class="ui form"ng-app="loginapp" ng-controller="formCtrl" name="myForm" novalidate> 
            
            <div class="ui stacked secondary  segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required>
                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                            <span ng-show="myForm.username.$error.required">Username is required.</span>
                    </div>
        
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required>
                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                        <span ng-show="myForm.password.$error.required">Password is required.</span>
                    </div>
                  </div>
                </div>
                <button ng-click="submit()" class="ui fluid large teal submit button" id="login" ng-disabled="myForm.username.$dirty && myForm.username.$invalid ||  myForm.password.$dirty && myForm.password.$invalid ||!username.length ||!password.length">Login</button>
                <div class="ui error message"></div>
              </div>
            
              
                <p class="ui message" ng-show="bool" id="error" style="color: tomato;">Error: User is not Registered</p>
            <div class="ui message">
                New to us? <a href="/registration">Register</a>
              </div>
              
        </form>

    </div>
    
    <div style="text-align: center;", id="footbar"></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="/controllers/login.js"></script>
    </body>
</html>