
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="login.css">

<meta charset="utf-8" />
<meta name="description" content="A frontend dashboard for the Smart Lighting System application" />
<meta name="author" content="Deol Satish" />
<meta name="viewport" content="width=device-width", initial-scale=1.0>
<title>Smart Lighting System</title>
</head>
<body>
    <div class="container">
        <div id="navbar"></div>
    </div>
    <br>
    <div class="ui middle aligned center aligned container"> 
        <h2></h2>
        <h2 class="ui teal image header">
          <!-- <img src="./Login Example - Semantic_files/logo.png" class="image"> -->
          <i class="desktop icon"></i>
          <div class="content">
            Register new Device
          </div>
        </h2>
        <form class="ui form"ng-app="adddeviceapp" ng-controller="formCtrl" name="myForm" novalidate> 
            
            <div class="ui stacked secondary  segment">

                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required>                   
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                            <span ng-show="myForm.username.$error.required">Username is required.</span>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" class="form-control" name="name" placeholder="Device Name" ng-model="name" required>                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                        <span ng-show="myForm.name.$error.required">Device name is required.</span>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" class="form-control" name="description" placeholder="Description: techincal details of lights" ng-model="description" required>                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                        <span ng-show="myForm.description.$error.required">Description is required.</span>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" class="form-control" name="locationdesc" placeholder="Location Description" ng-model="locationdesc" required>                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.locationdesc.$dirty && myForm.locationdesc.$invalid">
                        <span ng-show="myForm.locationdesc.$error.required">Location Descriprion name is required.</span>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" class="form-control" name="rgb" placeholder="ENter RGB Value=[255,255,255]" ng-model="rgb" required>                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.rgb.$dirty && myForm.rgb.$invalid">
                        <span ng-show="myForm.rgb.$error.required">RGB Value is required name is required.</span>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" class="form-control" name="brightness" placeholder="Enter Brightness=(0-100) Warning has to be a number" ng-model="brightness" required>                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.brightness.$dirty && myForm.brightness.$invalid">
                        <span ng-show="myForm.brightness.$error.required">brightness Value is required name is required.</span>
                    </div>
                  </div>
                </div>


                <button ng-click="save()" class="ui fluid large teal submit button" id="save" ng-disabled="myForm.username.$dirty && myForm.username.$invalid ||  myForm.name.$dirty && myForm.name.$invalid || !username.length || !name.length">Save</button>
            <div class="ui error message"></div>
            </div>
        </form> 
    </div>
    <br>
    <br>
    <br>
    <div class="ui ui middle aligned center aligned container">
      <div class="ui stacked secondary segment">
        <div class="ui container"> 
          <h2 class="ui image header">
            <!-- <img src="./Login Example - Semantic_files/logo.png" class="image"> -->
            <i class="home icon"></i>
            <div class="content">
              Current Devices
            </div>
          </h2>
          <table id="devices-small" class="ui teal large table">
            <thead>
            <tr>
            <th>User</th>
            <th>Device</th>
            <td></td>
            </tr>
            </thead>
            <tbody></tbody>
            </table>
        </div>
      </div>
    </div>
    

    <br>
   
    <div style="text-align: center;", id="footbar"></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="/controllers/registerdevice.js"></script>
    </body>
</html>